<h1>Spam Filter</h1>

In [1]:
import pandas as pd

In [2]:
sms_data = pd.read_csv('SMSSpamCollection', header=None, sep='\t', names=['Label', 'SMS'])

In [3]:
sms_data.head()

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
sms_data.shape

(5572, 2)

In [5]:
sms_data.groupby('Label').count()

        SMS
Label
ham    4825
spam    747

<h3>Preparing Cells</h3>

In [6]:
sms_data_clean = sms_data.copy()

In [7]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.replace('\W+', ' ').str.replace('\s+', ' ').str.strip()

In [8]:

sms_data_clean['SMS'] = sms_data_clean['SMS'].str.lower()

In [9]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.split()

In [10]:

sms_data_clean['SMS'].head()

0    [go, until, jurong, point, crazy, available, o...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, in, 2, a, wkly, comp, to, win, f...
3    [u, dun, say, so, early, hor, u, c, already, t...
4    [nah, i, don, t, think, he, goes, to, usf, he,...
Name: SMS, dtype: object

In [24]:
sms_data.shape[0]

5572

In [27]:
sms_data_clean['Label'].value_counts()

ham     4825
spam     747
Name: Label, dtype: int64

In [13]:
train_data = sms_data_clean.sample(frac=0.8,random_state=1).reset_index(drop=True)
test_data = sms_data_clean.drop(train_data.index).reset_index(drop=True)
train_data = train_data.reset_index(drop=True)

In [28]:
train_data['Label'].value_counts()

ham     3858
spam     600
Name: Label, dtype: int64

In [15]:
train_data.shape

(4458, 2)

In [29]:
test_data['Label'].value_counts()

ham     969
spam    145
Name: Label, dtype: int64

In [17]:
test_data.shape

(1114, 2)

In [18]:
test_data.head()

  Label                                                SMS
0   ham  [aight, should, i, just, plan, to, come, up, l...
1   ham  [die, i, accidentally, deleted, e, msg, i, sup...
2  spam  [welcome, to, uk, mobile, date, this, msg, is,...
3   ham  [this, is, wishing, you, a, great, day, moji, ...
4   ham  [thanks, again, for, your, reply, today, when,...

In [19]:
vocabulary = list(set(train_data['SMS'].sum()))

In [20]:
vocabulary[11:20]

['morrow',
 'name1',
 'american',
 'tron',
 'hang',
 '2watershd',
 'irritates',
 'model',
 'shall']

In [21]:
len(vocabulary)

7783

In [22]:
word_counts_per_sms = pd.DataFrame([
    [row[1].count(word) for word in vocabulary]
    for _, row in train_data.iterrows()], columns=vocabulary)

KeyboardInterrupt: